@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

::selection {
  background: #ee05fa33;
}

@layer base {
  html, body {
    @apply font-sans;
  }
}
@keyframes neonPulse {
  0% {
    filter: drop-shadow(0 0 25px #ee05fa80);
  }
  25% {
    filter: drop-shadow(0 0 35px #ee05fa);
  }
  50% {
    filter: drop-shadow(0 0 40px #9c1aff);
  }
  75% {
    filter: drop-shadow(0 0 35px #ee05fa);
  }
  100% {
    filter: drop-shadow(0 0 25px #ee05fa80);
  }
}

.animate-neon {
  animation: neonPulse 4s ease-in-out infinite;
}

